services:
  redis:
    image: "redis:alpine"
    container_name: "blog_api_redis"
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  mongo:
    image: "mongo:latest"
    container_name: "blog_api_mongo"
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  app:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - redis
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/blogdb
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - JWT_SECRET=your_jwt_secret_key
      - NODE_ENV=development
    volumes:
      - .:/app

volumes:
  redis_data:
  mongo_data:
